*
{
  margin:0;
}

#game_screen
{
  margin: auto;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#menu_bar {
    position: absolute;
    height: 100vh;
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
    background-color: lightgrey;
    border-left: solid black;
    border-right: solid black;
}

#main_menu_header_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 20vh;
    background-color: wheat;
    border-radius: 1.5vw;
    border: solid black;
    font-size: 5vw;
}

#start_button {
    display: block;
    margin-top:30vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    width: 20vw;
    height: 10vh;
    background-color: lavender;
    border: solid black;
}

#player_menu_header_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 10vh;
    background-color: wheat;
    border-radius: 1.5vw;
    border: solid black;
    font-size: 3vw;
}

#player_buttons {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
    gap: 1vw;
    margin-top: 20vh;
    width: 33vw;
    height: 10vh;
    margin-left: auto;
    margin-right: auto;
}


#player_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    font-size: 5vh;
    background-color: lavender;
    border: solid black;
}

#number_display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;
    height: 10vh;
    font-size: 5vh;
    background-color: lavender;
    border: solid black;
}

#map_selection_button {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    width: 25vw;
    height: 10vh;
    margin-top: 15vh;
    background-color: lavender;
    border: solid black;
}

.MapRectangle {
    display: inline-block;
    margin-top: 2.5%;
    width: 30%;
    height: 35%;
    margin-inline: 5% 0;
    background-color: grey;
}

.MapButton {
    display: inline-block;
    width: 25%;
    height: 10%;
    margin-left: 5%;
    font-size: 100%;
    background-color: lavender;
}

body {
    background-image: url(menu_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#game_screen_div {
    position: relative;
    width: 100vw;
    height: 100vh;
    background : #2C2A2A;
}