*
{
  margin:0;
}

#game_screen
{
  margin: auto;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.MenuRectangleCentre {
    margin-top: 2.5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 90%;
    padding-top: 2%;
    text-align: center;
    background-color: lightgrey;
}

.StartButton {
    display: block;
    margin-top: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 50%;
    height: 10%;
    background-color: lavender;
}

.PlayerButton {
    display: inline-block;
    margin-top: auto;
    width: 15%;
    height: 10%;
    text-align: center;
    font-size: 400%;
    background-color: lavender;
}

.NumberDisplay {
    display: inline-block;
    margin-top: auto;
    width: 15%;
    height: 10%;
    font-size: 400%;
    background-color: lavender;
}

.MapSelectionButton {
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    text-align: centre;
    font-size: 200%;
    margin-top: 30%;
    background-color: lavender;
}

.MapRectangle {
    display: inline-block;
    margin-top: 2.5%;
    width: 30%;
    height: 35%;
    margin-inline: 5% 0;
    background-color: grey;
}

.MapButton {
    display: inline-block;
    width: 25%;
    height: 10%;
    margin-left: 5%;
    font-size: 100%;
    background-color: lavender;
}
