.MenuRectangleCentre {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 80%;
    font-size: 250%;
    padding-top: 2%;
    text-align: center;
    background-color: lightgrey;
}

.StartButton {
    display: block;
    margin-top: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 150%;
    width: 50%;
    height: 10%;
    background-color: lavender;
}